.header {
    padding: 14px;
    background: #282928;
    color: white;
    font-size: 23px;
    width: 100%;
    min-width: 100%;
    min-height: 50%;

}

.headerText{
    margin-left: 75px;
}


.grid-container{
    display: grid;
    grid-template-columns:repeat(3, 20%);
    grid-auto-rows: minmax(300px, auto);
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    justify-content: center;
    margin:2%;

}
.grid-item-header{
    padding-left: 10%;
    margin-top: 7%;
}
.grid-item-footer{
    margin-top:40%;
    display: flex;
   justify-content: space-evenly;
}
.grid-item{
    background: #f2f2f2;
    border:solid white;
    border-radius: 10%;
}
.grid-item-bottom{
    background: #f2f2f2;
    grid-column-start: 1;
    grid-column-end: 4;
    max-height: 100%;
    border:solid white;
    border-radius: 2%;
}

.laptopH2{
    align-self: flex-start;
    padding-left: 50px;
}
.button {
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 35%;
    border-radius: 5%;
}
.button1{
    background-color: #4CAF50;
    width: 80%;
}
.button2{
    background-color: #ffec42;
}
.button3{
    background-color: #4c54f5;
}
.button4{
    background-color: #4c54f5;
    min-width: 200px;
    height: 60px;
}

.form-select{
    width: 80%;
}

.container{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    display: inline-flex;
    align-items: center;

}
img{
    max-height: 300px;
    width: 30%;
}

